@model Face.EntidadesDeNegocio.Cargo

<h1>Crear Nuevo Cargo</h1>
<form asp-action="Crear">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
