@model Face.EntidadesDeNegocio.Empleados
@using Face.EntidadesDeNegocio

@{
    ViewData["Title"] = "Crear";
    List<Asistencias> asistencias = ViewBag.Asistencias as List<Asistencias>;
    List<Reportes> reportes = ViewBag.Reportes as List<Reportes>;
    List<Horarios> horarios = ViewBag.Horarios as List<Horarios>;
}

<h1>Crear</h1>

<h4>Empleados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <a href="@Url.Action("Capturar", "Empleados")" class="btn btn-primary">Tomar Fotos</a>
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estado" class="control-label">Estado</label>
                <select asp-for="Estado" class="form-control">
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaRegistro" class="control-label"></label>
                <input asp-for="FechaRegistro" class="form-control" />
                <span asp-validation-for="FechaRegistro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById("Telefono").addEventListener("input", function (e) {
            var value = e.target.value.replace(/\D/g, ""); // Remueve caracteres que no sean dígitos
            if (value.length > 4) {
                value = value.slice(0, 4) + "-" + value.slice(4);
            }
            e.target.value = value;
        });
    </script>
}

