@model Face.EntidadesDeNegocio.Empleados

<h2>Resultado del Reconocimiento Facial</h2>

@if (Model != null)
{
    <p>Empleado reconocido: @Model.Nombre</p>
    <p>Cargo: @Model.Cargo</p>
    <p>Email: @Model.Email</p>
}
else
{
    <p>No se encontró coincidencia.</p>
}

<a href="@Url.Action("Index", "Empleados")">Volver a la lista de empleados</a>
