<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Face.UserInterface</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Face.UserInterface.styles.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen flex flex-col bg-gray-50">
    <header>
        @if (!(ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "Index"))
        {
            <nav class="bg-white shadow-lg">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="flex justify-between h-16">
                        <div class="flex items-center">
                            <a class="flex-shrink-0 flex items-center text-blue-600 font-bold text-xl" asp-area="" asp-controller="Home" asp-action="Index">
                                WinFaceTrack
                            </a>
                        </div>
                        
                        <!-- Mobile menu button -->
                        <div class="flex items-center sm:hidden">
                            <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-500" aria-controls="mobile-menu" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                                <span class="sr-only">Abrir menú principal</span>
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                                </svg>
                            </button>
                        </div>

                        <!-- Desktop menu -->
                        <div class="hidden sm:flex sm:items-center sm:ml-6">
                            <div class="flex space-x-4">
                                <a class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
 @*                                <a class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a> *@
                                <a class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Empleados" asp-action="Index">Empleados</a>
                                <a class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Horarios" asp-action="Index">Horarios</a>
                                <a class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Asistencias" asp-action="Index">Asistencia</a>
                                <a class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Reportes" asp-action="Index">Reportes</a>
                                <a class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Reconocimiento" asp-action="Index">Reconocer</a>
                                <a class="px-3 py-2 rounded-md text-sm font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Cargos" asp-action="Index">Cargos</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mobile menu -->
                <div class="sm:hidden collapse" id="navbarNav">
                    <div class="px-2 pt-2 pb-3 space-y-1">
                        <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
@*                         <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a> *@
                        <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Empleados" asp-action="Index">Empleados</a>
                        <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Horarios" asp-action="Index">Horarios</a>
                        <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Asistencias" asp-action="Index">Asistencia</a>
                        <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Reportes" asp-action="Index">Reportes</a>
                        <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Reconocimiento" asp-action="Index">Reconocer</a>
                        <a class="block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-blue-600 hover:bg-blue-50 transition-all duration-300 ease-in-out" asp-area="" asp-controller="Cargos" asp-action="Index">Cargo</a>

                    </div>
                </div>
            </nav>
        }
    </header>

    <div class="container flex-grow">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* @if (ViewContext.RouteData.Values["Controller"]?.ToString() == "Home" && ViewContext.RouteData.Values["Action"]?.ToString() == "Index")
    {
        <footer class="bg-white shadow-inner">
            <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
                <div class="flex flex-col sm:flex-row justify-between items-center space-y-4 sm:space-y-0">
                    <div class="text-gray-500 text-sm">
                        &copy; @DateTime.Now.Year - Face.UserInterface
                    </div>
                    <div class="flex space-x-6">
                        <a class="text-gray-500 hover:text-blue-600 text-sm transition-colors duration-300" asp-area="" asp-controller="Home" asp-action="Privacy">
                            Política de Privacidad
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    } *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

