@model Face.EntidadesDeNegocio.Asistencias

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Asistencias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpleadosId" class="control-label"></label>
                <input asp-for="EmpleadosId" class="form-control" />
                <span asp-validation-for="EmpleadosId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoReconocimiento" class="control-label"></label>
                <input asp-for="EstadoReconocimiento" class="form-control" />
                <span asp-validation-for="EstadoReconocimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Top_Aux" class="control-label"></label>
                <input asp-for="Top_Aux" class="form-control" />
                <span asp-validation-for="Top_Aux" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

